table.table.data tbody tr.priority-1 td {
    /*background-color: #00cbff !important;*/
}
table.table.data tbody tr:nth-child(2n).priority-1 td {
    /*background-color: #00d6ff !important;*/
}

table.table.data tbody tr.priority-2 td {
    background-color: #00cbff !important;
}
table.table.data tbody tr:nth-child(2n).priority-2 td {
    background-color: #00d6ff !important;
}

table.table.data tbody tr.priority-3 td {
    background-color: #ffee00 !important;
}
table.table.data tbody tr:nth-child(2n).priority-3 td {
    background-color: #ffff00 !important;
}

table.table.data tbody tr.priority-4 td {
    background-color: #ff8800 !important;
}
table.table.data tbody tr:nth-child(2n).priority-4 td {
    background-color: #ff9900 !important;
}

table.table.data tbody tr.priority-5 td {
    background-color: #e20000 !important;
}
table.table.data tbody tr:nth-child(2n).priority-5 td {
    background-color: #d50000 !important;
}