<?php if ($this->previewMode): ?>
    <div class="form-control"><?= e($value) ?></div>
<?php else: ?>
    <div
        id="<?= $this->getId() ?>"
        class="field-google-place">
        <div id="<?= $this->getId('textarea') ?>-div" style="height: 300px; width: 100%"></div>
        <input
            type="hidden"
            name="<?= $name ?>"
            id="<?= $this->getId('textarea') ?>"
            value="<?= e($value) ?>"
            class="form-control"
            data-control="location-autocomplete"
            <?= $field->getAttributes() ?>
            <?= $this->getFieldMapAttributes() ?>
            />
    </div>
<?php endif ?>

<script type="text/javascript">
$(function(){
    let fieldName = "<?= $field->fieldName; ?>"
    let mapDiv = "<?= $this->getId('textarea') ?>";
    let getMapPosition = $("#" + mapDiv).val().split(',');

    inicializar(getMapPosition[0], getMapPosition[1], 15, fieldName, mapDiv, true);
});
</script>