<div data-control="toolbar">
        <a href="<?= Backend::url('antikorona/kindness/completedjobs/create') ?>" class="btn btn-primary oc-icon-plus"><?= e(trans('backend::lang.form.create')) ?></a>
</div>
